node_modules
.next
dist
coverage
.env
.env.*
!.env.example
database/backups/*
!database/backups/.gitkeep
apps/api/prisma/migrations
apps/api/prisma/schema.local.sqlite.prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
apps/api/prisma/local-sqlite.sql
storage/uploads/*
!storage/uploads/.gitkeep
*.log
*.tsbuildinfo
